<script>
$(document).ready(function() {
	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>


	<% if d.translation_equivalents.size > 0%>
	<% count = 0;
	   size = d.translation_equivalents.size;
		for e in d.translation_equivalents %>
	<b>Translation equivalent:</b>
			<!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
		<%= link_to_remote image_tag('user.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s}, :html => {:class => 'ui_dialog', :title=>'Contributors'} %>
		<%#= link_to image_tag('user.png',:border => 0), url_for(:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s, :height=>500,:width=>670) + '&TB_iframe=true', :class=>:thickbox, :title=>'Contributors' %>
		<%##= link_to_remote(image_tag('user.png',:border=>0, :title => 'Contributors'), :update => 'edit_box', :loading => "Element.show('edit_box');",:url => {:action => 'display_history', :params => {:history_id => e.id, :history_class => e.class.to_s }}) %>	
		<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'translation_equivalents', :action => 'edit_dynamic_translation_equivalent', :id => e.id, :internal=>'edit_box', :public=>'yes'}, :html => {:class => 'ui_dialog'}, :title=>'Translation Equivalent Edit' %>
		<%#= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'translation_equivalents', :action => 'edit_dynamic_translation_equivalent', :id => e.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true), :class=>:thickbox, :title=>'Translation Equivalent Edit' %>		
<%##= link_to_remote image_tag('pencil.png',:border => 0, :title => "Edit"),:update => d.id.to_s+'_translation_equivalent', :loading => 'dialect_id='+e.id.to_s, :url => {:controller => 'translation_equivalents', :action => 'public_edit', :id => e.id, :params => {'definition_id' => head_id}} %>

		<span class=menuvalue onclick=show_menu(translation_equivalent_menu,getCoord(arguments[0]));>
		<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'translation_equivalent_id='+e.id.to_s, :title => 'Edit Relationships' %> 
		</span>
		<%#= link_to_remote(image_tag('cross.png',:border=>0, :title => 'Remove Translation Equivalent'), :update => 'definition_space', :complete => 're_initialize();', :url => {:action => 'public_remove_translation_equivalent', :id => d.id, :params => {:parent_id => parent_id, :head_id => head_id, :translation_equivalent => e.id }}, :confirm => "Are you sure you want to remove this Translation Equivalent?") %>			
		<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_translation_equivalent' , :update => 'definition_space', :complete => 're_initialize();',  :id => d.id, :parent_id => parent_id, :head_id => head_id, :translation_equivalent => e.id),  :title=>'Remove Translation Equivalent', :confirm => "Are you sure you want to remove this Translation Equivalent?" %>		
		<%# if e.language != nil and e.language != '' %>
		<% if !e.language_type.blank? %>
			<i> <%= link_to e.language_type.title, e.language_type.get_url_with_parent if !e.language_type.blank? %></i>&nbsp;
		<% end %>
			<% if !e.language_type.blank? %>
				<% if e.language_type.title == 'Tibetan' %> <%# if e.language == 'Tibetan' %>
				<span class="tib1">
				<% end %>
			<% end %>
				<span class="tib1">
				<span class="tinyfied_show">
					<%#= e.translation_equivalent.s if e.translation_equivalent != nil %>
					<div id="<%= "#{e.id}_transdiv" %>">
					  <%  edit_path = translation_equivalent_translation_equivalent_edit_url(:id => e.id) %>
					  <% if e.translation_equivalent == nil or e.translation_equivalent == ''
			               t_transequivalent = 'Click to modify'
			             else
			               t_transequivalent = e.translation_equivalent.s      
			             end %>
					  <%= link_to_remote(t_transequivalent, :url => edit_path, :update => "#{e.id}_transdiv", :method => :get ) %>
				    </div>
				</span>
				</span>
			<% if !e.language_type.blank? %>
				<% if e.language_type.title == 'Tibetan' %> <%# if e.language == 'Tibetan' %>	
				</span>
				<% end %>
			<% end %>
		<% if e.analytical_note != nil and e.analytical_note != '' %>
			<dd><b>Analytical note: </b><span class="tib1"><span class='tinyfied_show'><%= e.analytical_note.s %></span></span></dd>
		<% end %>	
				
		<dl style="margin-top:0em;margin-bottom:0em;">
			<dd style="display:none"></dd>
		<% if e.meta != nil%>
		<dd>
		<% t = Time.now %>
		<%= render :partial => 'definitions/meta', :locals => {:meta_location => t.to_f, :meta => e.meta , :head_id => head_id} %>
		</dd>
		<% end %>
		</dl>
	<% end %>
	<!-- <br> -->
	<% end %>
	<span id="<%= d.id%>_translation_equivalent" > </span>