<h1>Editing category_pronunciation_association</h1>

<% form_for(@category_pronunciation_association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pronunciation_id %><br />
    <%= f.text_field :pronunciation_id %>
  </p>
  <p>
    <%= f.label :category_branch_id %><br />
    <%= f.text_field :category_branch_id %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category_pronunciation_association %> |
<%= link_to 'Back', category_pronunciation_associations_path %>