<p>
  <b>Pronunciation:</b>
  <%=h @category_pronunciation_association.pronunciation_id %>
</p>

<p>
  <b>Category branch:</b>
  <%=h @category_pronunciation_association.category_branch_id %>
</p>

<p>
  <b>Category:</b>
  <%=h @category_pronunciation_association.category_id %>
</p>


<%= link_to 'Edit', edit_category_pronunciation_association_path(@category_pronunciation_association) %> |
<%= link_to 'Back', category_pronunciation_associations_path %>