<dl style="margin-top:0em;margin-bottom:0em;">
	<dd style="display:none"></dd>
	<% for s in meta.sources %>
		<dd>
			<b>Source: </b>
			<%= link_to_remote image_tag('user.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'definitions', :action => 'display_history', :history_id => s.id, :history_class => s.class.to_s }, :html => {:class => 'ui_dialog', :title=>'Contributors'} %>
			<%#= link_to image_tag('user.png',:border => 0), url_for( :action => 'display_history', :history_id => s.id, :history_class => s.class.to_s , :height=>500,:width=>670) + '&TB_iframe=true', :class=>:thickbox, :title=>'Contributors' %>
			<%##= link_to_remote(image_tag('user.png',:border=>0, :title => 'Contributors'), :update => 'edit_box', :loading => "Element.show('edit_box');",:url => {:action => 'display_history', :params => {:history => s.update_history }}) %>
			<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'sources', :action => 'edit_dynamic_source', :id => s.id, :meta => meta.id, :internal=>'edit_box', :public=>'yes'}, :html => {:class => 'ui_dialog', :title=>'Source Edit'} %>
			<%#= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'sources', :action => 'edit_dynamic_source', :id => s.id, :meta => meta.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true) + '&TB_iframe=true', :class=>:thickbox, :title=>'Source Edit' %>			
	<%##= link_to_remote image_tag('pencil.png',:border=>0, :title => 'Edit'), :update => meta.id.to_s+'_source', :url => {:controller => 'sources', :action => 'edit_dynamic', :id => s.id, :params => {'definition_id' => head_id}} %>
			<%#= link_to_remote(image_tag('cross.png',:border=>0, :title => 'Remove Source'), :update => 'definition_space', :url => {:action => 'public_remove_source', :id => s.id, :params => { :head_id => head_id, :source => s.id }}, :confirm => "Are you sure you want to remove this Source?") %>	
			<%#  if s.id == 1499 
			      debugger
			    end
				 if s.id == 1490 
				      debugger
				    end
			%>		
			<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_source' , :update => 'definition_space', :complete => 're_initialize();',  :id => s.id,  :head_id => head_id, :source => s.id),  :title=>'Remove Source', :confirm => "Are you sure you want to remove this Source?" %>						
			<br>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			&nbsp;&nbsp;&nbsp;&nbsp;<b>Source ID: </b><%= s.source_id_value %><br>
			<% if s.source_type != nil and s.source_type != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>Source type: </b><%= s.source_type %><br>
			<% end %>
			<% if s.page_number != nil and s.page_number != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>Start Page number: </b><%= s.page_number %><br>
			<% end %>
			<% if s.start_page_side != nil and s.start_page_side != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>Start Page side: </b><%= s.start_page_side %><br>
			<% end %>
			<% if s.start_line_number != nil and s.start_line_number != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>Start Line number: </b><%= s.start_line_number %><br>
			<% end %>
			<% if s.end_page_number != nil and s.end_page_number != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>End Page number: </b><%= s.end_page_number %><br>
			<% end %>
			<% if s.end_page_side != nil and s.end_page_side != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>End Page side: </b><%= s.end_page_side %><br>
			<% end %>
			<% if s.end_line_number != nil and s.end_line_number != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>End Line number: </b><%= s.end_line_number %><br>
			<% end %>
			<% if s.spelling != nil and s.spelling != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>Spelling: </b><%= s.spelling %><br>
			<% end %>
			<% if s.source_note != nil and s.source_note != '' %>
	<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			     &nbsp;&nbsp;&nbsp;&nbsp;<b>Source note: </b><span class="tib1"><span class='tinyfied_show'><%= s.source_note.s %></span></span>
			<% end %>
		</dd>
	<% end %>
</dl>
<span id="<%= meta.id%>_source" ></span>