<%= wide_tagged_tinymce_script %>
<% form_for :etymology, :url => { :action => "update_analytical_note" } do |f| %>
<p>
<%= f.hidden_field :id %>
<%= f.text_area :analytical_note, :class => 'mceEditor' %>
<%= submit_to_remote 'update_button','update analytical note', :url => { :controller => 'etymologies', :action => "update_analytical_note" }, :update => "#{e.id}_anotediv", :before => "tinyMCE.triggerSave();" %>
<%#= link_to_remote 'Cancel', :url => {:action => "analytical_note_show", :params => {'id' => params['id'] }}, :update => "#{e.id}_anotediv" %>
<%= link_to_remote 'Cancel', {:url => etymology_analytical_note_show_path(params['id']), :method => 'get', :update => "#{e.id}_anotediv" } %>
</p>
<% end %>