<script>
$(document).ready(function() {
	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>

	<% if d.etymologies.size > 0 %>
	<% count = 0;
	   size = d.etymologies.size;
	   for e in d.etymologies %>
	<b>Etymology:</b>
			<!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<%#= link_to_function image_tag('pencil.png',:border => 0), "edit_popup('etymologies','"+e.id.to_s+"','"+head_id.to_s+"')", :title => "Edit"%>

		<%= link_to_remote image_tag('user.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s}, :html => {:class => 'ui_dialog', :title=>'Contributors'} %>
		<%#= link_to image_tag('user.png',:border => 0), url_for(:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s, :height=>500,:width=>670) + '&TB_iframe=true', :class=>:thickbox, :title=>'Contributors' %>
		<%##= link_to_remote(image_tag('user.png',:border=>0, :title => 'Contributors'), :update => 'edit_box', :loading => "Element.show('edit_box');",:url => {:action => 'display_history', :params => {:history_id => e.id, :history_class => e.class.to_s }}) %>	
		<!-- before ui -->	
		<%#= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'etymologies', :action => 'edit_dynamic_etymology', :id => e.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true), :class=>:thickbox, :title=>'Etymology Edit' %>
		<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'etymologies', :action => 'edit_dynamic_etymology', :id => e.id, :internal=>'edit_box', :public=>'yes'} , :html => {:class => 'ui_dialog', :title=>'Etymology Edit'} %>
			
		<%##= link_to_remote image_tag('pencil.png',:border=>0, :title => 'Edit'), :update => d.id.to_s+'_etymology', :loading => 'dialect_id='+e.id.to_s, :url => {:controller => 'etymologies', :action => 'public_edit', :id => e.id, :params => {'definition_id' => head_id}} %>
		<span class=menuvalue onclick=show_menu(etymology_menu,getCoord(arguments[0]));>
		<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'etymology_id='+e.id.to_s, :title => 'Edit Relationships' %> 
		</span>
		<%#= link_to_remote(image_tag('cross.png',:border=>0, :title => 'Remove Etymology'), :update => 'definition_space', :complete => 're_initialize();', :url => {:action => 'public_remove_etymology', :id => d.id, :params => {:parent_id => parent_id, :head_id => head_id, :etymology => e.id }}, :confirm => "Are you sure you want to remove this Etymology?") %>			
		<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_etymology' , :update => 'definition_space', :complete => 're_initialize();',  :id => d.id,  :parent_id => parent_id, :head_id => head_id,:etymology => e.id),  :title=>'Remove Etymology', :confirm => "Are you sure you want to remove this Etymology?" %>	
		
		<%# assoc = e.category_etymology_associations.find(:all, :conditions => {:category_branch_id => 182}) %>
		<%# if !assoc.blank? %>
		<!--  <i>[<%#= assoc.collect{|a| a.category.title}.join(', ') %>]</i>&nbsp;-->
		<%# end %>
			<!-- <%# if e.etymology_type != nil and e.etymology_type != '' %>
				<i>[<%#= e.etymology_type.s %>]</i>&nbsp;
			<%# end %> -->
		<% if !e.etymology_category.blank? %>
				<i><%= link_to e.etymology_category.title, e.etymology_category.get_url_with_parent if !e.etymology_category.blank? %>	</i>&nbsp;
		<% end %>
	
		<span class="tib1">
		<span class="etymologies_show">	
		  <%#= e.etymology.s if e.etymology != nil %>
		  <div id="<%= "#{e.id}_etydiv" %>">
		    <%= render :partial => 'etymologies/etymology_show', :locals => {:e => e} %>
	      </div>
		</span>
		</span>
		<dl style="margin-top:0em;margin-bottom:0em;">
			<dd style="display:none"></dd>
			<%# assoc = e.category_etymology_associations.find(:all, :conditions => {:category_branch_id => 184}) %>
			<%# if !assoc.blank? %>
			<!--	<dd><b>Loan language: </b>[<%#= assoc.collect{|a| a.category.title}.join(', ') %>]</dd>-->
			<%# end %>
			<% if !e.loan_language_type.blank? %>
			<dd><b>Loan language Type: </b><%= link_to e.loan_language_type.title, e.loan_language_type.get_url_with_parent if !e.loan_language_type.blank?  %></dd>
			<% end %>
		<!--<%# if e.loan_language != nil and e.loan_language != ''%>
				<dd><b>Loan language: </b>[<%#= e.loan_language %>]</dd>
		<%# end %>
		<%# if e.loan_language_type != nil and e.loan_language_type != ''%>
				<dd><b>Loan language Type: </b><%#= e.loan_language_type.title %></dd>
		<%# end %>-->
			
			<!-- <%# assoc = e.category_etymology_associations.find(:all, :conditions => {:category_branch_id => 180}) %>
			<%# if !assoc.blank? %>
				<dd><b>Derivation: </b>[<%#= assoc.collect{|a| a.category.title}.join(', ') %>]</dd>
			<%# end %>-->
		<!--<%# if e.derivation != nil and e.derivation != ''%>
				<dd><b>Derivation: </b>[<%#= e.derivation.s %>]</dd>
		<%# end %>-->
		<% if !e.derivation_type.blank? %>
				<dd><b>Derivation Type: </b><%= link_to e.derivation_type.title, e.derivation_type.get_url_with_parent if !e.derivation_type.blank? %></dd>
		<% end %>
		
		
		<% assoc = e.category_etymology_associations.find(:all, :conditions => {:category_branch_id => 638}) %>
		<% if !assoc.blank? %>
			<dd><b>Tibetan Dialect: </b>[<%= assoc.collect{|a| link_to a.category.title, a.category.get_url_with_parent}.join(', ') %>]</dd>
		<% end %>
		<!--<%# if e.major_dialect_family_type != nil%>
				<dd><b>Tibetan Dialect: </b><%#= e.major_dialect_family_type.title %></dd>
		<%# end %>-->
		
		<% assoc = e.category_etymology_associations.find(:all, :conditions => {:category_branch_id => 119}) %>
		<% if !assoc.blank? %>
			<dd><b>Literary genre: </b>[<%= assoc.collect{|a| link_to a.category.title, a.category.get_url_with_parent}.join(', ') %>]</dd>
		<% end %>
		<!--<%# if e.literary_genre_type != nil%>
				<dd><b>Literary genre: </b><%#= e.literary_genre_type.title %></dd>
		<%# end %>-->
		
		<!-- <%# assoc = e.category_etymology_associations.find(:all, :conditions => {:category_branch_id => 187}) %>
		<%# if !assoc.blank? %>
			<dd><b>Literary period: </b>[<%#= assoc.collect{|a| a.category.title}.join(', ') %>]</dd>
		<%# end %>-->
		<% if !e.literary_period_type.blank? %>
				<dd><b>Literary period: </b><%= link_to e.literary_period_type.title, e.literary_period_type.get_url_with_parent if !e.literary_period_type.blank? %></dd>
		<% end %>
		
		<!--<%# assoc = e.category_etymology_associations.find(:all, :conditions => {:category_branch_id => 186}) %>
		<%# if !assoc.blank? %>
			<dd><b>Literary form: </b>[<%#= assoc.collect{|a| a.category.title}.join(', ') %>]</dd>
		<%# end %>-->
		<% if !e.literary_form_type.blank? %>
				<dd><b>Literary form: </b><%= link_to e.literary_form_type.title, e.literary_form_type.get_url_with_parent if !e.literary_form_type.blank? %></dd>
		<% end %>
		
		<% if e.analytical_note != nil and e.analytical_note != '' %>
			  <dd><b>Analytical note: </b><span class="tib1"><span class='tinyfied_show'><%= e.analytical_note.s %></span></span></dd>
		 <% end %>
		
		<!--<%# if e.meta != nil%>
		<dd>
		<%# t = Time.now %>
		<%#= render :partial => 'definitions/meta', :locals => {:meta_location => t.to_f, :meta => e.meta , :head_id => head_id} %>
		</dd>
		<%# end %> -->
		
		<div id="<%= e.id%>_etymology_metas_div">
	      <% if e.meta != nil%>
	        <% t = Time.now %>
	        <%= render :partial => 'metas/index', :locals => {:t => t.to_f, :element =>e, :meta => e.meta , :head_id => head_id} %>	
		  <% end %>
		</div>
		
		<div id="<%= e.id%>_etymology_translations_div"> 
			<%=   render :partial => 'translations/generic_index', :locals => {:o => e,:d => d, :parent_id => parent_id, :head_id => head_id} %>			
		</div>
		

		
		
		</dl>
	<% end %>
	<!-- <br> -->
	<% end %>
	<span id="<%= d.id%>_etymology" ></span>
