
<% if o.translations.size > 0%>
<% 	 for e in o.translations %>
<%#     if e.translation != nil and e.translation != ''%>
       <dd>
	     <!--<b>Translation<%# if e.language != nil and e.language != '' %> (<%#= e.language %>)<%# end %>:</b> -->
			<%# assoc = e.category_translation_associations.find(:all, :conditions => {:category_branch_id => 184}) %>
			<!--<b>Translation<%# if !assoc.blank? %> (<%#= assoc.collect{|a| a.category.title}.join(', ') %>)<%# end %>:</b> -->
			<b>Translation<% if !e.language_type.blank? %> (<%= link_to e.language_type.title, e.language_type.get_url_with_parent if !e.language_type.blank? %>)<% end %>:</b> 
<%=      link_to_remote image_tag('user.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s}, :html => {:class => 'ui_dialog', :title=>'Contributors'} %>	
<%=      link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'translations', :action => 'edit_dynamic_translation', :id => e.id, :internal=>'edit_box', :public=>'yes'}, :html => {:class => 'ui_dialog', :title=>'Translation Edit'} %>	
				
	     <span class=menuvalue onclick=show_menu(translation_menu,getCoord(arguments[0]));>
<%=      link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'translation_id='+e.id.to_s, :title => 'Edit Relationships' %> 
	     </span>
<%       if o.class.name.downcase == "definition" %>
<%=        link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_translation' , :update => 'definition_space', :complete => 're_initialize();',  :id => o.id, :parent_id => parent_id, :head_id => head_id, :translation => e.id),  :title=>'Remove Translation', :confirm => "Are you sure you want to remove this translation?" %>
<%       end %>
<%#  debugger %>
<%       if o.class.name.downcase == "etymology" %>
<%=        link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_etymology_translation' , :update => 'definition_space', :complete => 're_initialize();',  :id => o.id, :parent_id => parent_id, :head_id => head_id, :translation => e.id),  :title=>'Remove Translation', :confirm => "Are you sure you want to remove this Translation?" %>
<%       end %>
<%       if o.class.name.downcase == "literaryquotation" %>
<%=        link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_literary_quotation_translation' , :update => 'definition_space', :complete => 're_initialize();',  :id => o.id, :parent_id => parent_id, :head_id => head_id, :translation => e.id),  :title=>'Remove Translation', :confirm => "Are you sure you want to remove this Translation?" %>
<%       end %>
<%       if o.class.name.downcase == "oralquotation" %>
<%=        link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_oral_quotation_translation' , :update => 'definition_space', :complete => 're_initialize();',  :id => o.id, :parent_id => parent_id, :head_id => head_id, :translation => e.id),  :title=>'Remove Translation', :confirm => "Are you sure you want to remove this Translation?" %>
<%       end %>
<%       if o.class.name.downcase == "modelsentence" %>
<%=        link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_model_sentence_translation' , :update => 'definition_space', :complete => 're_initialize();',  :id => o.id, :parent_id => parent_id, :head_id => head_id, :translation => e.id),  :title=>'Remove Translation', :confirm => "Are you sure you want to remove this Translation?" %>
<%       end %>



	     <%# if e.language == 'Tibetan' %>
			<span class="tib1">
		 <%# end %>
			<span class='tinyfied_show'>
			  <div id="<%= "#{e.id}_translationdiv" %>">
				<% edit_path = translation_translation_edit_url(:id => e.id) %>
				<%  if e.translation == nil or e.translation == ''
			      t_analytical = 'Click to modify'
			    else
			      t_analytical = e.translation.s      
			    end %>
			    <%= link_to_remote(t_analytical, :url => edit_path, :update => "#{e.id}_translationdiv", :method => :get ) %>
		      </div>
			</span>
		 <%# if e.language == 'Tibetan' %>
		   </span>
		 <%# end %>
	
	     <!--<%# if e.language_type != nil and e.language_type != ''%>
			  <br>	
			  &nbsp;&nbsp;&nbsp;&nbsp;<b>Language: </b><%#= e.language_type.title %>
		 <%# end %> -->
		 <% if e.analytical_note != nil and e.analytical_note != '' %>
		      <br>
			  &nbsp;&nbsp;&nbsp;&nbsp;<b>Analytical note: </b><span class="tib1"><span class='tinyfied_show'><%= e.analytical_note.s %></span></span>
		 <% end %>

         <div id="<%= e.id%>_<%= o.class.name.downcase%>_translation_metas_div">
<%         if e.meta != nil%>
<%           tm = Time.now %>
<%=          render :partial => 'metas/index', :locals => {:t => tm.to_f, :element =>e, :meta => e.meta , :head_id => head_id} %>	
<%         end %>
	     </div>		
	     <br>
	   </dd>
<%   end %> <!-- for -->  
<% end %>  <!-- if size > 0 -->
<span id="<%= o.id%>_translation" > </span>