<script>
$(document).ready(function() {
	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>

<% if d.translations.size > 0%>
<% count = 0;
   size = d.translations.size;
	for e in d.translations %>
<b>Translation<% if e.language != nil and e.language != '' %> (<%= e.language %>)<% end %>:</b>
	<%= link_to image_tag('user.png',:border => 0), url_for(:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s, :height=>500,:width=>670) + '&TB_iframe=true', :class=>:thickbox, :title=>'Contributors' %>
	<%#= link_to_remote(image_tag('user.png',:border=>0, :title => 'Contributors'), :update => 'edit_box', :loading => "Element.show('edit_box');",:url => {:action => 'display_history', :params => {:history_id => e.id, :history_class => e.class.to_s }}) %>	
	<%= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'translations', :action => 'edit_dynamic_translation', :id => e.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true), :class=>:thickbox, :title=>'Translation Edit' %>					
	<%#= link_to_remote image_tag('pencil.png',:border => 0, :title => "Edit"),:update => d.id.to_s+'_translation', :loading => 'dialect_id='+e.id.to_s, :url => {:controller => 'translations', :action => 'public_edit', :id => e.id, :params => {'definition_id' => head_id}} %>
	<span class=menuvalue onclick=show_menu(translation_menu,getCoord(arguments[0]));>
	<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'translation_id='+e.id.to_s, :title => 'Edit Relationships' %> 
	</span>
	
	<%#= link_to_remote(image_tag('cross.png',:border=>0, :title => 'Remove Translation'), :update => 'definition_space', :complete => 're_initialize();', :url => {:action => 'public_remove_translation', :id => d.id, :params => {:parent_id => parent_id, :head_id => head_id, :translation => e.id }}, :confirm => "Are you sure you want to remove this translation?") %>			
	<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_translation' , :update => 'definition_space', :complete => 're_initialize();',  :id => d.id, :parent_id => parent_id, :head_id => head_id, :translation => e.id),  :title=>'Remove Translation', :confirm => "Are you sure you want to remove this translation?" %>
			<% if e.language == 'Tibetan' %>
			<span class="tib1">
			<% end %>
			<span class='tinyfied_show'>
			<%#= e.translation.s if e.translation != nil %>
			  <div id="<%= "#{e.id}_translationdiv" %>">
				<%# debugger %>
				<% edit_path = translation_translation_edit_url(:id => e.id) %>
				<%  if e.translation == nil or e.translation == ''
			      t_analytical = 'Click to modify'
			    else
			      t_analytical = e.translation      
			    end %>
			    <%= link_to_remote(t_analytical, :url => edit_path, :update => "#{e.id}_translationdiv", :method => :get ) %>
			
			    <%#= render :partial => "shared/tinymce_field_show", :locals => {:t => e, :divsuffix => "_translationdiv"}%>
		      </div>
			</span>
			<% if e.language == 'Tibetan' %>
			</span>
			<% end %>
	
		<% if e.meta != nil%>
		<dl style="margin-top:0em;margin-bottom:0em;">
				<dd style="display:none"></dd>
				<dd>		<% t = Time.now %>
		<%= render :partial => 'definitions/meta', :locals => {:meta_location => t.to_f, :meta => e.meta , :head_id => head_id} %>
			</dd>
		</dl>
<% end %>
			
	<br>
<% end %>
<!-- <br> -->
<% end %>
<span id="<%= d.id%>_translation" > </span>