<script>
$(document).ready(function() {
	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>


	<% if d.oral_quotations.size > 0%>
	<% count = 0;
	   size = d.oral_quotations.size;
		for e in d.oral_quotations %>
	<b>Oral quotation:</b>
			<!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<%#= link_to_function image_tag('pencil.png',:border => 0), "edit_popup('oral_quotations','"+e.id.to_s+"','"+head_id.to_s+"')", :title => "Edit"%>
	<%= link_to_remote image_tag('user.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s}, :html => {:class => 'ui_dialog', :title=>'Contributors'} %>
		<%#= link_to image_tag('user.png',:border => 0), url_for( :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s, :height=>500,:width=>670) , :class=>:thickbox, :title=>'Contributors' %>	
		<%##= link_to_remote(image_tag('user.png',:border=>0, :title => 'Contributors'), :update => 'edit_box', :loading => "Element.show('edit_box');",:url => {:action => 'display_history', :params => {:history_id => e.id, :history_class => e.class.to_s }}) %>	
		
				
<%##= link_to_remote image_tag('pencil.png',:border=>0, :title => 'Edit'), :update => d.id.to_s+'_oral_quotation', :loading => 'dialect_id='+e.id.to_s, :url => {:controller => 'oral_quotations', :action => 'public_edit', :id => e.id, :params => {'definition_id' => head_id}} %>
	<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'oral_quotations', :action => 'edit_dynamic_oral_quotation', :id => e.id, :internal=>'edit_box', :public=>'yes'}, :html => {:class => 'ui_dialog'}, :title=>'Oral Quotations Edit' %>
	<%#= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'oral_quotations', :action => 'edit_dynamic_oral_quotation', :id => e.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Oral Quotations Edit' %>
		<span class=menuvalue onclick=show_menu(oral_quotation_menu,getCoord(arguments[0]));>
		<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'oral_quotation_id='+e.id.to_s, :title => 'Edit Relationships' %> 
		</span>
		<%#= link_to_remote(image_tag('cross.png',:border=>0, :title => 'Remove Oral Quotation'), :update => 'definition_space', :complete => 're_initialize();', :url => {:action => 'public_remove_oral_quotation', :id => d.id, :params => {:parent_id => parent_id, :head_id => head_id, :oral_quotation => e.id }}, :confirm => "Are you sure you want to remove this Oral Quotation?") %>			
		<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_oral_quotation' , :update => 'definition_space', :complete => 're_initialize();',  :id => d.id, :parent_id => parent_id, :head_id => head_id, :oral_quotation => e.id),  :title=>'Remove Oral Quotation', :confirm => "Are you sure you want to remove this Oral Quotation?" %>		
		
		<dl style="margin-top:0em;margin-bottom:0em;">
			<dd style="display:none"></dd>
		<% if e.source != nil and e.source != '' %>
			  <dd><b>Source ID: </b><%= e.source %></dd>
		 <% end %>
		
		<%#= e.displayInfo.s %>
		<span class="tib1">
		<span class='tinyfied_show'>
			<div id="<%= "#{e.id}_transcript_in_tibetandiv" %>">
			  <%  edit_path = oral_quotation_transcript_in_tibetan_edit_url(:id => e.id) %>
			  <% if e.transcript_in_tibetan == nil or e.transcript_in_tibetan == ''
	               t_transcript_in_tibetan = 'Click to modify'
	             else
	               t_transcript_in_tibetan = e.transcript_in_tibetan.s      
	             end %>
			  <%= link_to_remote(t_transcript_in_tibetan, :url => edit_path, :update => "#{e.id}_transcript_in_tibetandiv", :method => :get ) %>
		    </div>
		</span>
		</span>
		
		
		<% if e.source_type != nil and e.source_type != '' %>
			  <dd><b>Source type: </b><%= e.source_type %></dd>
		 <% end %>
		<% if e.source_speaker != nil and e.source_speaker != '' %>
			  <dd><b>Source speaker: </b><%= e.source_speaker %></dd>
		<% end %>
		<!--<%# if e.source_speaker_dialect_type != nil%>
			<dd><b>Source Speaker Tibetan dialect: </b><%#= e.source_speaker_dialect_type.title %></dd>
		<%# end %>-->
		<% assoc = e.category_oral_quotation_associations.find(:all, :conditions => {:category_branch_id => 638}) %>
		<% if !assoc.blank? %>
			<dd><b>Source Speaker Tibetan dialect: </b>[<%= assoc.collect{|a| link_to a.category.title, a.category.get_url_with_parent}.join(', ') %>]</dd>
		<% end %>
		<% if e.transcript_in_tibetan != nil and e.transcript_in_tibetan != ''%>
			<dd><b>Transcript in Tibetan: </b><%= e.transcript_in_tibetan %></dd>
		<% end %>
		<% if e.source_speech_type != nil and e.source_speech_type != ''%>
			<dd><b>Source speech type: </b><%= e.source_speech_type %></dd>
		<% end %>
		<% if e.source_speech_context != nil and e.source_speech_context != ''%>
			<dd><b>Source speech context: </b><%= e.source_speech_context %></dd>
		<% end %>
		<% if e.source_location_within_title != nil and e.source_location_within_title != ''%>
			<dd><b>Source location within title: </b><%= e.source_location_within_title %></dd>
		<% end %>
		
		<% if e.source_speech_date != nil and e.source_speech_date != '' %>
			  <dd><b>Source speech date: </b><%= e.source_speech_date %></dd>
		<% end %>
		<% if e.source_speech_date_tibetan != nil and e.source_speech_date_tibetan != '' %>
			  <dd><b>Source speech date Tibetan: </b><%= e.source_speech_date_tibetan %></dd>
		<% end %>
		<% if e.source_speech_date_western != nil and e.source_speech_date_western != '' %>
			  <dd><b>Source speech date Western: </b><%= e.source_speech_date_western %></dd>
		 <% end %>
		<% if e.source_location_of_speech != nil and e.source_location_of_speech != '' %>
			  <dd><b>Source location of speech: </b><%= e.source_location_of_speech %></dd>
		 <% end %>
		<% if e.analytical_note != nil and e.analytical_note != '' %>
			  <dd><b>Analytical note: </b><span class="tib1"><span class='tinyfied_show'><%= e.analytical_note.s %></span></span></dd>
		 <% end %>
		
		<!-- <dl style="margin-top:0em;margin-bottom:0em;">
			<dd style="display:none"></dd>
		<%# if e.meta != nil%>
		<dd>
		<%# t = Time.now %>
		<%#= render :partial => 'definitions/meta', :locals => {:meta_location => t.to_f, :meta => e.meta , :head_id => head_id} %>
		</dd>
		<%# end %> -->
		<div id="<%= e.id%>_oralquotation_metas_div">
	      <% if e.meta != nil%>
	        <% t = Time.now %>
	        <%= render :partial => 'metas/index', :locals => {:t => t.to_f, :element =>e, :meta => e.meta , :head_id => head_id} %>	
		  <% end %>
		</div>
		
		<div id="<%= e.id%>_oralquotation_translations_div"> 
			<%=   render :partial => 'translations/generic_index', :locals => {:o => e,:d => d, :parent_id => parent_id, :head_id => head_id} %>			
		</div>
		
		</dl>
	<% end %>
	<!-- <br> -->
	<% end %>
	<span id="<%= d.id%>_oral_quotation" > </span>
