	<% if d.oral_quotations.size > 0%>
	<% count = 0;
	   size = d.oral_quotations.size;
		for e in d.oral_quotations %>
	<b>Oral quotation:</b>
			<!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<%#= link_to_function image_tag('pencil.png',:border => 0), "edit_popup('oral_quotations','"+e.id.to_s+"','"+head_id.to_s+"')", :title => "Edit"%>
		<%= link_to image_tag('user.png',:border => 0), url_for( :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s, :height=>500,:width=>670) , :class=>:thickbox, :title=>'Contributors' %>
		<%#= link_to_remote(image_tag('user.png',:border=>0, :title => 'Contributors'), :update => 'edit_box', :loading => "Element.show('edit_box');",:url => {:action => 'display_history', :params => {:history_id => e.id, :history_class => e.class.to_s }}) %>			
<%#= link_to_remote image_tag('pencil.png',:border=>0, :title => 'Edit'), :update => d.id.to_s+'_oral_quotation', :loading => 'dialect_id='+e.id.to_s, :url => {:controller => 'oral_quotations', :action => 'public_edit', :id => e.id, :params => {'definition_id' => head_id}} %>
<%= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'oral_quotations', :action => 'edit_dynamic_oral_quotation', :id => e.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Oral Quotations Edit' %>
		<span class=menuvalue onclick=show_menu(oral_quotation_menu,getCoord(arguments[0]));>
		<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'oral_quotation_id='+e.id.to_s, :title => 'Edit Relationships' %> 
		</span>
		<%#= link_to_remote(image_tag('cross.png',:border=>0, :title => 'Remove Oral Quotation'), :update => 'definition_space', :complete => 're_initialize();', :url => {:action => 'public_remove_oral_quotation', :id => d.id, :params => {:parent_id => parent_id, :head_id => head_id, :oral_quotation => e.id }}, :confirm => "Are you sure you want to remove this Oral Quotation?") %>			
		<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_oral_quotation' , :update => 'definition_space', :complete => 're_initialize();',  :id => d.id, :parent_id => parent_id, :head_id => head_id, :oral_quotation => e.id),  :title=>'Remove Oral Quotation', :confirm => "Are you sure you want to remove this Oral Quotation?" %>		
		<%= e.displayInfo.s %>
		<dl style="margin-top:0em;margin-bottom:0em;">
			<dd style="display:none"></dd>
		<% if e.meta != nil%>
		<dd>
		<% t = Time.now %>
		<%= render :partial => 'definitions/meta', :locals => {:meta_location => t.to_f, :meta => e.meta , :head_id => head_id} %>
		</dd>
		<% end %>
			<% for t in e.translations %>
				<% if t.translation != nil and t.translation != ''%>
					<dd><b>Translation: </b>
					<%= link_to image_tag('user.png',:border => 0), url_for( :action => 'display_history', :history_id => t.id, :history_class => t.class.to_s, :height=>500,:width=>670) + '&TB_iframe=true', :class=>:thickbox, :title=>'Contributors' %>
					<%#= link_to_remote(image_tag('user.png',:border=>0, :title => 'Contributors'), :update => 'edit_box', :loading => "Element.show('edit_box');",:url => {:action => 'display_history', :params => {:history => t.update_history }}) %>			
			<%#= link_to_remote image_tag('pencil.png',:border => 0, :title => "Edit"),:update => e.id.to_s+'_translation', :loading => 'dialect_id='+t.id.to_s, :url => {:controller => 'translations', :action => 'public_edit', :id => t.id, :params => {'definition_id' => head_id}} %>
			<%= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'translations', :action => 'edit_dynamic_translation', :id => t.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true), :class=>:thickbox, :title=>'Translations Edit' %>
					<span class=menuvalue onclick=show_menu(translation_menu,getCoord(arguments[0]));>
					<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'translation_id='+t.id.to_s, :title => 'Edit Relationships' %> 
					</span>
					<%#= link_to_remote(image_tag('cross.png',:border=>0, :title => 'Remove Translation'), :update => 'definition_space', :complete => 're_initialize();', :url => {:action => 'public_remove_translation', :id => e.id, :params => {:parent_id => parent_id, :head_id => head_id, :translation => t.id }}, :confirm => "Are you sure you want to remove this Translation?") %>			
					<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_oral_quotation_translation' , :update => 'definition_space', :complete => 're_initialize();',  :id => e.id, :parent_id => parent_id, :head_id => head_id, :translation => t.id),  :title=>'Remove Translation', :confirm => "Are you sure you want to remove this Translation?" %>		
					<% if t.language == 'Tibetan' %>
					<span class="tib1">
					<% end %>
					<span class='tinyfied_show'>
					<%= t.translation.s if t.translation != nil %>
					</span>
					<% if t.language == 'Tibetan' %>
					</span>
					<% end %>
					<% if t.meta != nil%>
					<dl style="margin-top:0em;margin-bottom:0em;">
							<dd style="display:none"></dd>
							<dd>		<% tm = Time.now %>
					<%= render :partial => 'meta', :locals => {:meta_location => tm.to_f, :meta => t.meta , :head_id => head_id} %>
						</dd>
					</dl>
					<% end %>
					</dd>
				<% end %>
			<% end %>
			<span id="<%= e.id %>_translation"></span>
		</dl>
	<% end %>
	<!-- <br> -->
	<% end %>
	<span id="<%= d.id%>_oral_quotation" > </span>
