<h1>Editing category_etymology_association</h1>

<% form_for(@category_etymology_association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :etymology_id %><br />
    <%= f.text_field :etymology_id %>
  </p>
  <p>
    <%= f.label :category_branch_id %><br />
    <%= f.text_field :category_branch_id %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category_etymology_association %> |
<%= link_to 'Back', category_etymology_associations_path %>