<h1>Listing category_etymology_associations</h1>

<table>
  <tr>
    <th>Etymology</th>
    <th>Category branch</th>
    <th>Category</th>
  </tr>

<% @category_etymology_associations.each do |category_etymology_association| %>
  <tr>
    <td><%=h category_etymology_association.etymology_id %></td>
    <td><%=h category_etymology_association.category_branch_id %></td>
    <td><%=h category_etymology_association.category_id %></td>
    <td><%= link_to 'Show', category_etymology_association %></td>
    <td><%= link_to 'Edit', edit_category_etymology_association_path(category_etymology_association) %></td>
    <td><%= link_to 'Destroy', category_etymology_association, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category_etymology_association', new_category_etymology_association_path %>