<% 
@data = Category.find(data_id)
@definition = Definition.find(id)
@model_name = 'definition'
@function_name = function_name
@id = id
#@update_id = update_id
%>

<% if @function_name == 'thematic_classification_type' %>
<%=   @definition.thematic_classification_type.title  if !@definition.thematic_classification_type.blank?%>
<%  edit_path = thematic_classification_edit_url(:id => @definition.id)
    t_definition = 'Click to modify Thematic Clasification'  
	header_title = 'Thematic Clasification' 
	new_link_caption = 'New Thematic Classification' %>
<% end %>

<!--<h1><%#= header_title%></h1>-->
<b><%= header_title%></b>
<%#=  "#{link_to_remote(image_tag('pencil.png',:border => 0), :url => thematic_classification_edit_url(:id => @definition.id), :update => "thematic_classification_type#{@definition.id}", :method => :get, :html => {:class => 'definitions_show'} ) }" %>
<table>
  <tr>
    <th>Definition</th>
    <th>Category branch</th>
    <th>Category</th>
  </tr>

<%#= element.category_element_associations.collect{|a| a.category.title}.join(', ') %>
<%# @definition_category_associations.each do |definition_category_association| %>
<% @definition.definition_category_associations.each do |association| %>

  <tr>
    <td><%=h association.definition_id %></td>
    <td><%=h association.category_branch_id %></td>
    <td><%=h association.category.title %></td>
    <td><%#= link_to 'Show', definition_category_association %></td>
    <td><%#= link_to 'Edit', edit_definition_category_association_path(definition_category_association) %></td>
    <td><%#= link_to 'Destroy', definition_category_association, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_link_caption, new_definition_association_path(@definition.id) %>
<%=  "#{link_to_remote(image_tag('pencil.png',:border => 0), :url => new_definition_association_url(@definition.id), :update => "#{@definition.id}_definition_thematic_classification_div", :method => :get, :html => {:class => 'definitions_show'} ) }" %>
