<p>
  <b>Definition:</b>
  <%=h @definition_category_association.definition_id %>
</p>

<p>
  <b>Category branch:</b>
  <%=h @definition_category_association.category_branch_id %>
</p>

<p>
  <b>Category:</b>
  <%=h @definition_category_association.category_id %>
</p>


<%= link_to 'Edit', edit_definition_category_association_path(@definition_category_association) %> |
<%= link_to 'Back', definition_category_associations_path %>