<h1>Editing category_meta_association</h1>

<% form_for(@category_meta_association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :meta_id %><br />
    <%= f.text_field :meta_id %>
  </p>
  <p>
    <%= f.label :category_branch_id %><br />
    <%= f.text_field :category_branch_id %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category_meta_association %> |
<%= link_to 'Back', category_meta_associations_path %>