<%= wide_tagged_tinymce_script %>
<% form_for :definition, :url => { :action => "update_audio_description" } do |f| %>
<p>
<%= f.hidden_field :id %>
<%= f.text_area :audio_description, :class => 'mceEditor' %>
<%= submit_to_remote 'update_button','update audio Description', :url => { :action => "update_audio_description" }, :update => "#{d.id}_audiodescdiv", :before => "tinyMCE.triggerSave();" %>
<%#= link_to_remote 'Cancel', :url => {:action => "audio_description_show", :params => {'id' => params['id'] }}, :update => "#{d.id}_audiodescdiv" %>
<%= link_to_remote 'Cancel', {:url => audio_description_show_path(params['id']), :method => 'get', :update => "#{d.id}_audiodescdiv" } %>
</p>
<% end %>