<script>
$(document).ready(function() {
	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>

<hr>
<h3>
	Other Dictionaries:
</h3>
<table>
		<% if @dan_martin_definitions.size > 0 %>
			<tr><td>
				<b>Dan Martin Dictionary:</b>
			</td></tr>
			<% end %>
	
			<% for d in @dan_martin_definitions %>
				<tr>
					<td></td>
					<td>

						<span class="tib1">
						<%= d.term.s if d.term != nil %>
						<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
						</span>
					</td>
					<td>
						<%#= link_to image_tag('pencil.png',:border => 0), url_for( :action => 'edit_dynamic_definition', :id => d.id, :internal=>'edit_box', :public=>'yes', :height=>500,:width=>670, :modal=>true) + '&TB_iframe=true', :class=>:thickbox, :title=>'Other Definition Edit' %>	
						<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id}, :html => {:class => 'ui_definition_dialog', :title=>'Other Dictionary (Dan Martin Dictionary) Edit'} %>	
						<%#= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Other Dictionary (Dan Martin Dictionary) Edit' %>			
						<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %>
						<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
					</td>
				</tr>
		<% end %>

		<% if @jeffrey_hopkins_definitions.size > 0 %>
		<tr><td>
			<b>Jeffrey Hopkins Dictionary:</b>
		</td></tr>
		<% end %>
		
		<% for d in @jeffrey_hopkins_definitions %>
			<tr>
				<td></td>
				<td>
				<span class="tib1">
				<%= d.term.s if d.term != nil %>
				<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
				</span>
			</td>
				<td>
					<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %>
					<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id}, :html => {:class => 'ui_definition_dialog', :title=>'Other Dictionary (Jeffrey Hopkins) Edit'} %>
					<%#= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Other Dictionary (Jeffrey Hopkins) Edit' %>		
					<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
				</td>
			</tr>
		<% end %>
		<% if @yogacara_definitions.size > 0 %>
		<tr><td>
			<b>Yogācāra Glossary:</b>
		</td></tr>
		<% end %>
		<% for d in @yogacara_definitions %>
			<tr>
				<td></td>
				<td>
				<span class="tib1">
				<%= d.term.s if d.term != nil %>
				<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
				</span>
			</td>
				<td>
					<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id}, :html => {:class => 'ui_definition_dialog', :title=>'Other Dictionary (Yogācāra Glossary) Edit'} %>
					<%#= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true), :class=>:thickbox, :title=>'Other Dictionary (Yogācāra Glossary) Edit' %>			
					<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %>
					<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
				</td>
			</tr>
		<% end %>
		<% if @rangjung_yeshe_definitions.size > 0 %>
		<tr><td>
			<b>Rangjung Yeshe Dictionary:</b>
		</td></tr>
		<% end %>
		<% for d in @rangjung_yeshe_definitions %>
			<tr>
				<td></td>
				<td>
				<span class="tib1">
				<%= d.term.s if d.term != nil %>
				<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
				</span>
			</td>
				<td>
					<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id}, :html => {:class => 'ui_definition_dialog', :title=>'Other Dictionary (Rangjung Yeshe) Edit'} %>
					<%#= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Other Dictionary (Rangjung Yeshe) Edit' %>			
					<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %>
					<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
				</td>
			</tr>
		<% end %>
		<% if @richard_baron_definitions.size > 0 %>
		<tr><td>
			<b>Richard Baron Dictionary:</b>
		</td><tr>
		<% end %>
		<% for d in @richard_baron_definitions %>
			<tr>
				<td></td>
				<td>
				<span class="tib1">
				<%= d.term.s if d.term != nil %>
				<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
				</span>
			</td>
				<td>
					<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id}, :html => {:class => 'ui_definition_dialog', :title=>'Other Dictionary (Richard Baron) Edit'} %>
					<%#= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Other Dictionary (Richard Baron) Edit' %>			
					<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %>
					<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
				</td>
			</tr>
		<% end %>
		<% if @jim_valby_definitions.size > 0 %>
		<tr><td>
			<b>Jim Valby Dictionary:</b>
		</td></tr>
		<% end %>
		<% for d in @jim_valby_definitions %>
			<tr>
				<td></td>
				<td>
				<span class="tib1">
				<%= d.term.s if d.term != nil %>
				<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
				</span>
			</td>
				<td>
					<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id}, :html => {:class => 'ui_definition_dialog', :title=>'Other Dictionary (Jim Valby) Edit'} %>
					<%#= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Other Dictionary (Jim Valby) Edit' %>			
					<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %>
					<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
				</td>
			</tr>
		<% end %>
		<% if @ives_waldo_definitions.size > 0 %>
		<tr><td>
			<b>Ives Waldo Dictionary:</b>
		</td></tr>
		<% end %>
		<% for d in @ives_waldo_definitions %>
			<tr>
				<td></td>
				<td>
				<span class="tib1">
				<%= d.term.s if d.term != nil %>
				<%= d.definition.s.gsub('<u>','<i>').gsub('</u>','</i>').gsub('<p>','').gsub('</p>','<br>') %>
				</span>
			</td>
				<td>
					<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id}, :html => {:class => 'ui_definition_dialog', :title=>'Other Dictionary (Ives Waldo) Edit'} %>
					<%#= link_to 'Edit', url_for(:controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :internal=>'edit_box', :public=>'yes', :head_id => @head_id,  :height=>500,:width=>670, :modal=>true) , :class=>:thickbox, :title=>'Other Dictionary (Ives Waldo) Edit' %>			
					<%#= link_to 'Edit', :controller => 'old_definitions', :action => 'edit_dynamic', :id => d.id, :params => {'head_id' => @head_id} %> 
					<%= link_to 'Delete', {:action => 'delete_old_definition', :id => params[:id], :params => {:other_id => d.id }}, :confirm => 'Are you sure want to delete this entry?'%>
				</td>
			</tr>
		<% end %>
	</table>