<script>
$(document).ready(function() {
	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>


	
<% if d.definition_definition_form_froms.size > 0%>
<% 
     size = d.definition_definition_form_froms.size;
	   for e in d.definition_definition_form_froms %>
  		 <b>Related term:</b>
   
	
		 <%= link_to image_tag('user.png',:border => 0), url_for(:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s, :height=>500,:width=>670) + '&TB_iframe=true', :class=>:thickbox, :title=>'Contributors' %>
		 <%#= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'translations', :action => 'edit_dynamic_translation', :id => t.id, :internal=>'edit_box', :public=>'yes'}, :html => {:class => 'ui_dialog', :title=>'Translations Edit'} %>
		 <%= link_to_function image_tag('pencil.png',:border => 0), "edit_form_to('definition_definition_forms','"+e.id.to_s+"','"+head_id.to_s+"')", :title => "Edit"%>
		 <span class=menuvalue onclick=show_menu(related_term_menu,getCoord(arguments[0]));>
		 <%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'definition_definition_form_id='+e.id.to_s, :title => 'Edit Relationships' %> 
		 </span>
		 <%= link_to image_tag('cross.png',:border => 0, :title => 'Remove related term'), url_for(:controller => 'definitions', :action => 'public_remove_form_from' , :update => 'definition_space', :complete => 're_initialize();',  :id => d.id, :parent_id => parent_id, :head_id => head_id, :form_from => e.id),  :title=>'Remove Related Term', :confirm => "Are you sure you want to remove this Term?" %>
			
		 <span class="tib1">
		 	<%= e.displayFromInfoPublic.s %>
			<%= link_to(e.displayFromTerm.s, :controller => 'definitions', :action => 'public_edit', :id => e.definition_to.id) unless e.definition_to == nil%>
		 </span>
		 <br>
		 
		<!--<dl style="margin-top:0em;margin-bottom:0em;">
		 	<dd style="display:none"></dd>
				<%# if e.meta != nil%>
					<dd>
						<%# t = Time.now %>
						<%#= render :partial => 'meta', :locals => {:meta_location => t.to_f, :meta => e.meta , :head_id => head_id} %>
					</dd>
				<%# end %>
		 </dl> -->
		<div id="<%= e.id%>_definitiondefinitionform_metas_div">
	      <% if e.meta != nil%>
	        <% t = Time.now %>
	        <%= render :partial => 'metas/index', :locals => {:t => t.to_f, :element =>e, :meta => e.meta , :head_id => head_id} %>	
		  <% end %>
		</div>
		
		
	   <% end %>
		
<% end %>
<span id="<%= d.id%>_form_from" > </span>
