<h1>Listing category_translation_equivalent_associations</h1>

<table>
  <tr>
    <th>Translation equivalent</th>
    <th>Category branch</th>
    <th>Category</th>
  </tr>

<% @category_translation_equivalent_associations.each do |category_translation_equivalent_association| %>
  <tr>
    <td><%=h category_translation_equivalent_association.translation_equivalent_id %></td>
    <td><%=h category_translation_equivalent_association.category_branch_id %></td>
    <td><%=h category_translation_equivalent_association.category_id %></td>
    <td><%= link_to 'Show', category_translation_equivalent_association %></td>
    <td><%= link_to 'Edit', edit_category_translation_equivalent_association_path(category_translation_equivalent_association) %></td>
    <td><%= link_to 'Destroy', category_translation_equivalent_association, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category_translation_equivalent_association', new_category_translation_equivalent_association_path %>