<h1>Editing category_literary_quotation_association</h1>

<% form_for(@category_literary_quotation_association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :literary_quotation_id %><br />
    <%= f.text_field :literary_quotation_id %>
  </p>
  <p>
    <%= f.label :category_branch_id %><br />
    <%= f.text_field :category_branch_id %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category_literary_quotation_association %> |
<%= link_to 'Back', category_literary_quotation_associations_path %>