<h1>Listing category_oral_quotation_associations</h1>

<table>
  <tr>
    <th>Oral quotation</th>
    <th>Category branch</th>
    <th>Category</th>
  </tr>

<% @category_oral_quotation_associations.each do |category_oral_quotation_association| %>
  <tr>
    <td><%=h category_oral_quotation_association.oral_quotation_id %></td>
    <td><%=h category_oral_quotation_association.category_branch_id %></td>
    <td><%=h category_oral_quotation_association.category_id %></td>
    <td><%= link_to 'Show', category_oral_quotation_association %></td>
    <td><%= link_to 'Edit', edit_category_oral_quotation_association_path(category_oral_quotation_association) %></td>
    <td><%= link_to 'Destroy', category_oral_quotation_association, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category_oral_quotation_association', new_category_oral_quotation_association_path %>