<script>
$(document).ready(function() {
	tb_init('a.thickbox, area.thickbox, input.thickbox');
});
</script>

<% if d.spellings.size > 0%>
<% count = 0;
   size = d.spellings.size;
	for e in d.spellings %>
<b>Spelling:</b>
    <%= link_to_remote image_tag('user.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s}, :html => {:class => 'ui_dialog', :title=>'Contributors'} %>
	<%#= link_to image_tag('user.png',:border => 0), url_for(:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s, :height=>500,:width=>670) + '&TB_iframe=true', :class=>:thickbox, :title=>'Contributors' %>
	<%= link_to_remote image_tag('pencil.png',:border => 0), :update => 'popup_dialog', :method => :get, :url => {:controller => 'spellings', :action => 'edit_dynamic_spelling', :id => e.id, :internal=>'edit_box', :d => d,:public=>'yes'}, :html => {:class => 'ui_dialog', :title=>'Spelling Edit'} %>
	<%#= link_to image_tag('pencil.png',:border => 0), url_for(:controller => 'spellings', :action => 'edit_dynamic_spelling', :id => e.id, :internal=>'edit_box', :d => d, :update => 'spellings_div', :public=>'yes', :parent_id => parent_id, :head_id => head_id, :height=>500,:width=>670, :modal=>true, :method => :get)  + '&TB_iframe=true' , :class=>:thickbox, :title=>'Spelling Edit' %>			
	<span class=menuvalue onclick=show_menu(spelling_menu,getCoord(arguments[0]));>
	<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'spelling_id='+e.id.to_s, :title => 'Edit Relationships' %> 
	</span>
	<%= link_to image_tag('cross.png',:border => 0), url_for(:controller => 'definitions', :action => 'public_remove_spelling' , :update => 'definition_space', :complete => 're_initialize();',  :id => d.id, :parent_id => parent_id, :head_id => head_id, :spelling => e.id),  :title=>'Remove Spelling', :confirm => "Are you sure you want to remove this Spelling?" %>
	
	<%#= e.spelling %>
	<span class='tinyfied_show'>
		<div id="<%= "#{e.id}_spellingdiv" %>">
		  <%  edit_path = spelling_spelling_edit_url(:id => e.id) %>
		  <% if e.spelling == nil or e.spelling == ''
               t_spelling = 'Click to modify'
             else
               t_spelling = e.spelling      
             end %>
		  <%= link_to_remote(t_spelling, :url => edit_path, :update => "#{e.id}_spellingdiv", :method => :get ) %>
	    </div>
	</span>

	<dl style="margin-top:0em;margin-bottom:0em;">
		<dd style="display:none"></dd>
	<% if e.basis_of_spelling != nil and e.basis_of_spelling != ''%>
			<dd><b>Basis: </b>[<%= e.basis_of_spelling.s %>]</dd>
	<% end %>
	<% if e.basis_of_spelling_type != nil%>
			<dd><b>Basis: </b><%= e.basis_of_spelling_type.title %></dd>
	<% end %>
	<% if e.spelling_type != nil and e.spelling_type != ''%>
			<dd><b>Type: </b><%= e.spelling_type.s %></dd>
	<% end %>
	<% if e.meta != nil%>
		<dd>
		<% t = Time.now %>
		<%= render :partial => 'definitions/meta', :locals => {:meta_location => t.to_f, :meta => e.meta , :head_id => head_id} %>
		</dd>
	<% end %>
	</dl>
<% end %>
<% end %>
<span id="<%= d.id%>_spelling" > </span>